*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('ImagesUsed/login_background3.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.wrapper{
    width: 99.5vw;
    height: 99.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color:#2d3953;
}

.left-container{
    width: 480px;
    height: 500px;
    margin: 2px;
    background:url("ImagesUsed/login4.jpg");
    background-size: cover;
    border-radius: 5px;
    transition: all 1.5s;
}

.left-container:hover{
    background:url("ImagesUsed/login3.jpg");
    background-size: cover;
}

.right-container{
    width: 500px;
    height: 500px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.heading{
    width: auto;
    height: 80px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.heading p{
    color: black;
    font-size:30px;
    font-family: "Press Start 2P";
}

.inputname{
    width: auto;
    height: 40px;
    margin: 1px;
    display: flex;
}

.inputname p{
    align-self: flex-end;
    font-size: 18px;
    font-weight: 500;
    font-family:cursive;
    color: rgb(249, 248, 245);
}

.inputfield{
    width: auto;
    height: 60px;
    margin: 1px;
}

input[type='text'],input[type='password']{
    margin-top: 5px;
    width: 468px;
    height: 30px;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border:none;
    background-color: #b5bdb7;
}

input[type='text']:focus, input[type='password']:focus{
    border: 2px solid #ffa9a3;
    background-color: #d1d1d1;
}

input[type='text']:hover, input[type='password']:hover{
    background-color: #d1d1d1;
}

::placeholder{
    font-size: 15px;
    color: #1e1e1f;
}

.remember{
    width: auto;
    height: 50px;
    margin: 2px;
}

input[type='checkbox']
{
    zoom:1;
    cursor: pointer;
}

.remember p{
    display: inline-block;
    font-weight: 700;
}

.button{
    width: auto;
    height: 80px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button{
    width:468px;
    height: 60px;
    border-radius: 5px;
    border:none;
    outline: none;
    background-color: #1e1e1f;
    background-size: cover;
    cursor: pointer;
    font-size: 35px;
    color: white;
    font-weight: 600;
    transition: all 0.5s;
}

.button button:hover{
    font-size: 55px;
}

@media (max-width:918px){
    .wrapper{
        height: auto;
    }
}

@media (min-width:416px) and (max-width:508px)
{
    .right-container{
        width: 400px;
    }
    .heading p{
        color: black;
        font-size:25px;
        font-family: "Press Start 2P";
    }
    input[type='text'],input[type='password']{
        margin-top: 5px;
        width: 370px;
        height: 30px;
        border-radius: 4px;
        padding: 10px;
        font-size: 20px;
        outline: none;
        border:none;
        background-color: #b5bdb7;
    }
    .left-container{
        width: 450px;
    }
    .wrapper{
        width: 96.5vw;
    }
}

@media (max-width:415px)
{
    .right-container{
        width: 200px;
        margin-right: 50px;
    }
    .heading p{
        color: black;
        font-size:20px;
        font-family: "Press Start 2P";
    }
    input[type='text'],input[type='password']{
        margin-top: 5px;
        width: 300px;
        height: 30px;
        border-radius: 4px;
        padding: 10px;
        font-size: 20px;
        outline: none;
        border:none;
        background-color: #b5bdb7;
    }
    .left-container{
        width: 450px;
    }
    .wrapper{
        width: 96.5vw;
    }
}